h2 {
  max-height: 40px;
  flex-basis: 100%;
  text-align: center;
  margin: 10px auto;
  position: relative;
  animation: shake 10s linear 4s infinite;
}
@keyframes shake {
  0%,
  2% {
    left: -20px;
  }
  1%,
  3% {
    left: 20px;
  }

  4% {
    left: 0px;
  }
}
ul {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}
li {
  display: flex;
  color: rgb(80, 80, 80);
  margin: 0;
  flex-basis: 100%;
  font-size: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
p {
  display: flex;
  border-bottom: 2px solid white;
  font-size: 24px;
  width: 56vw;
  flex-wrap: wrap;
  overflow: hidden;
}
span {
  font-size: 20px;
  color: rgb(190, 190, 190);
  width: 100%;
  padding-bottom: 10px;
}
div.buttons {
  display: flex;
  flex-wrap: nowrap;
}
button {
  align-self: flex-start;
}
svg {
  width: 45px;
  height: 100%;
  margin-left: 5px;
}
.noTodos {
  border: none;
  font-size: 24px;
}

@media (orientation: landscape) and (min-width: 533px) {
  p {
    width: 65vw;
  }
}
@media (orientation: landscape) and (min-width: 731px) {
  p {
    width: 28vw;
    flex-grow: 2;
  }
}
@media (orientation: portrait) and (min-width: 768px) {
  h2 {
    max-height: 60px;
  }
  p {
    flex-grow: 2;
    min-width: 80%;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  h2 {
    max-height: 60px;
  }
  p {
    border-bottom: 2px solid white;

    flex-grow: 2;
    width: 70%;
  }
}
