div.todolist {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  flex-basis: 150px;
  height: 100px;
}

span.to {
  top: 50%;
  left: 0%;
  transform: translateY(-300%);
  font-size: 45px;
  position: absolute;
  animation: h1anim 1s linear forwards;
}
span.do {
  top: 50%;
  left: 40%;
  transform: translateY(-300%);
  font-size: 45px;
  position: absolute;
  animation: h1anim 1s linear forwards 0.4s;
}
span.list {
  top: 50%;
  left: 90%;
  transform: translateY(-300%);
  font-size: 45px;
  position: absolute;
  animation: h1anim 1s linear forwards 0.8s;
}

@keyframes h1anim {
  0% {
    transform: translatey(-50%, -300%) scale(1, 1);
  }
  50% {
    transform: translate(-50%, -300%) scale(1, 1);
  }
  68% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
  70% {
    transform: translate(-50%, -30%) scale(1.5, 0.5);
  }
  74% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
}
div.inputAndButton {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
}
div.input {
  border-bottom: 2px solid white;
  font-size: 26px;
  flex-grow: 2;
  position: relative;
  overflow: hidden;
}
input {
  position: absolute;
  flex-grow: 2;
  animation: inputanimation 0.4s linear forwards 1.8s;
  left: -100vw;
}
@keyframes inputanimation {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}

button {
  animation: rotate 10s linear 2.4s infinite forwards;
}
svg {
  width: 45px;
  height: 100%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  1%,
  10% {
    transform: rotate(0deg) scale(1.2);
  }
  12%,
  16% {
    transform: rotate(360deg) scale(1.2);
  }
  20%,
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@media (orientation: portrait) and (min-width: 768px) {
  h1 {
    margin: 30px auto;
    font-size: 55px;
  }
}
