<div class="todolist">
  <span class="to">TO </span><span class="do">DO </span
  ><span class="list">LIST</span>
</div>
<div class="inputAndButton">
  <div class="input">
    <input placeholder="enter the task to be done" [(ngModel)]="newTask" />
  </div>
  <button (click)="add()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      x="0px"
      y="0px"
      width="45"
      height="45"
      viewBox="0 0 192 192"
      style=" fill:#000000;"
    >
      <g transform="">
        <g
          fill="none"
          fill-rule="nonzero"
          stroke="none"
          stroke-width="1"
          stroke-linecap="butt"
          stroke-linejoin="miter"
          stroke-miterlimit="10"
          stroke-dasharray=""
          stroke-dashoffset="0"
          font-family="none"
          font-weight="none"
          font-size="none"
          text-anchor="none"
          style="mix-blend-mode: normal"
        >
          <path d="M0,192v-192h192v192z" fill="none"></path>
          <path d="" fill="none"></path>
          <g fill="#ffffff">
            <path
              d="M95.8125,19.025c-7.06432,0.10353 -12.70913,5.91059 -12.6125,12.975v51.2h-51.2c-4.61614,-0.06528 -8.90984,2.36 -11.23696,6.34717c-2.32712,3.98717 -2.32712,8.91849 0,12.90566c2.32712,3.98717 6.62082,6.41246 11.23696,6.34717h51.2v51.2c-0.06528,4.61614 2.36,8.90984 6.34717,11.23696c3.98717,2.32712 8.91849,2.32712 12.90566,0c3.98717,-2.32712 6.41246,-6.62082 6.34717,-11.23696v-51.2h51.2c4.61614,0.06528 8.90984,-2.36 11.23696,-6.34717c2.32712,-3.98717 2.32712,-8.91849 0,-12.90566c-2.32712,-3.98717 -6.62082,-6.41246 -11.23696,-6.34717h-51.2v-51.2c0.0473,-3.45764 -1.30624,-6.78735 -3.75257,-9.23132c-2.44633,-2.44397 -5.77734,-3.79431 -9.23493,-3.74368z"
            ></path>
          </g>
        </g>
      </g>
    </svg>
  </button>
</div>
