h2 {
  max-height: 40px;
  flex-basis: 100%;
  text-align: center;
  margin: 10px auto;
  color: rgba(0, 0, 0, 0);
  animation: appearh2 1s linear 4.5s forwards;
}
@keyframes appearh2 {
  from {
    color: rgba(0, 0, 0, 0);
  }
  to {
    color: rgba(255, 255, 355, 1);
  }
}
ul {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}
li {
  display: flex;
  color: rgb(80, 80, 80);
  margin: 0;
  flex-basis: 100%;
  font-size: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  display: flex;
  border-bottom: 2px solid white;
  font-size: 24px;
  width: 56vw;
  flex-wrap: wrap;
}
button {
  align-self: flex-start;
}
span {
  font-size: 20px;
  color: rgb(190, 190, 190);
  width: 100%;
  padding-bottom: 10px;
}
svg {
  width: 45px;
  height: 100%;
  margin-left: 5px;
}
@media (orientation: landscape) and (min-width: 533px) {
  p {
    width: 65vw;
  }
}
@media (orientation: landscape) and (min-width: 731px) {
  p {
    width: 28vw;
    flex-grow: 2;
  }
}
@media (orientation: portrait) and (min-width: 768px) {
  h2 {
    max-height: 60px;
  }
  li {
    max-height: 60px;
  }
  p {
    font-size: 30px;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  h2 {
    max-height: 60px;
  }
  p {
    flex-grow: 2;
  }
}
