/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  font-family: "Caveat Brush", cursive;
  color: white;
}

app-root {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-width: 1280px;
  justify-content: space-around;
}
li {
  background: rgba(255, 255, 255, 0);
}
input {
  background: rgba(255, 255, 255, 0);
  border: none;
  box-sizing: border-box;
}
button {
  background: rgba(255, 255, 255, 0);
  border: none;
}

@media (orientation: landscape) and (min-width: 640px) {
  app-root {
    justify-content: center;
  }
}
